%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    .brand-wrapper
      %button.navbar-toggle{:type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .brand-name-wrapper
        %a.navbar-brand{:href => "/abouts"}
          About Us
      .side-menu-container
        %ul.nav.navbar-nav
          %li
            %a{:href => "/abouts/profile"}
              Profile of HMVS
          %br
          %li
            %a{:href => "#"}
              Former Principals
          %br
          %li
            %a{:href => "#"}
              Prof.P.Narasimha Reddy
          %br
          %li
            %a{:href => "#"}
              AQAR Reports
