.row
  .col-sm-12
    .col-sm-2
      = render "shared/sidemenu_abouts"
    .col-sm-7
      %center 
        %h3
          .red
            Profile of HMVS
  
        .btn-group.btn-group-justified{"aria-label" => "...", :role => "group"}
          .btn-group{:role => "group"}
            = link_to 'Life Members of HMVS' , life_members_path, :class => 'btn btn-primary'
          .btn-group{:role => "group"}
            = link_to 'Office Bearers of HMVS', office_bearers_path, :class => 'btn btn-warning'
          .btn-group{:role => "group"}
            = link_to 'List of Governing Council Members', council_members_path, :class => 'btn btn-success'
      %br
      %p
        The HMVS was registered as a non-profit educational society in the year 1954 with the sole aim of endeavouring for social, cultural and economic advancement of women. With the active support and inspirational guidance from the successive governing council members and office bearers Life Members, has today grown into a mighty banyan tree spreading its tentacles in the fields of Pharmacy, Bio-Informatics, B.B.M.T, MBA and Computer Science to equip women to become economically independent.
      %p
        Today HMVS is engaged in providing Primary, Secondary and Higher education and Hostel facility to the women under its several units as detailed below;
      %p
        * Madapati Hanumantha Rao Girls High School - It is named after the renowned personality Madapati Hanumantha Rao Pantulu, in recognition of his yeoman services rendered to the institution in the cause of empowerment of women, is engaged in providing primary and secondary education.
       
          
      %p
        * RBVRR Women's College - RBVRR Women’s College Narayanaguda was started in the year 1954. The foundation stone of the College building was laid by Pandit Jawaharlal Nehru, the then Prime Minister of India in the year 1954. The building was inaugurated by the then Vice President of India Dr.Sarvepalli Radhakrishnan, philosopher-statesman, in the year 1955.The College is named after Raja Bahadur Venkatram Reddy, former Commissioner of Police in the erstwhile Hyderabad State under the regime of Nizam, as a befitting honor and tribute for his yeoman services in the causes of women’s education.
      %p
        * RBVRR Women's College of Pharmacy
      %p
        * K.V Ranga Reddy Girls Hostel
      %p
        The successive managements have been rightly recognizing the need for a new approach to education and had been introducing several courses including short term and certificate courses which are relevant to the present day needs of the society in various fields. Today as many as 14 courses at UG and PG level and also short term certificate courses are being conducted successfully.

